@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f9fafb;
  overflow: 'hidden'
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}